
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../../../favicon.ico">

<title>Uber Invoice Maker - Akash Mittal</title>


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="/css/cover.css" rel="stylesheet">
</head>

<body class="text-center" style="background-image: url('/images/background.jpg');">

	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<header class="masthead mb-auto">
			<div class="inner">
				<h3 class="masthead-brand">>Uber Invoice Maker - Akash Mittal</h3>
				<nav class="nav nav-masthead justify-content-center">
					<a class="nav-link active" href="#">Home</a> <a class="nav-link"
						href="https://github.com/Akash-Mittal/uber-invoice-maker/">Get Code.</a> <a class="nav-link"
						href="https://github.com/Akash-Mittal/profile">About Me.</a>
				</nav>
			</div>
		</header>

		<main role="main" class="inner cover">
		<h1 class="cover-heading">Uber Invoice Maker.</h1>
		<p class="lead">Spring Boot Based Java Project Built With
			ThymeLeaf and Boot Strap.</p>
		<p class="lead">
		<form method="post" enctype="multipart/form-data" action="/">
			<div class="form-group">
				<input type="file" name="file" class="form-control"
					title="Select or Drop File Here" style="background-color: inherit;" >
			</div>
			<button type="submit" class="btn btn-lg btn-secondary" value="Upload">Submit</button>
		</form>

		<ul class="list-group" >
			<li class="list-group-item" th:each="file : ${files} " style="background-color: inherit;"><a
				th:href="${file}" th:text="${file}"  /></li>

		</ul>


		</p>

		</main>






		<footer class="mastfoot mt-auto">
			<div class="inner">
				<p>
					Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>,
					by <a href="https://twitter.com/mdo">@mdo</a>.
				</p>
			</div>
		</footer>
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->

	<script>
		window.jQuery
				|| document
						.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>
